body {
  font-family: "Helvetica";
  background-color: #D3D3D3;
  color: #24292f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D3D3D3;
  
}

.header {
  margin: 30px 0;
  margin-left: 0px;
}

.header__avatar {
  border-radius: 25%;
}

.header__title {
  margin: 20px 0 10px 0;
  margin-left: 100px;
  font-size: 30px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
}

.header__subtitle {
  color: #24292f;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  margin-left: 100px;

}

.links {
  width: 350px;
  margin-bottom: 30px;
  margin-left: 60px;
}

.links__header {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  background-color: #D3D3D3;
  list-style-type: none;
  border: 1px solid #D3D3D3(210, 18%, 87%, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
  font-weight: 700;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
  color: #24292f;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 5px;
  gap: 30px;
  border-bottom: 1px solid #24292f(210, 18%, 87%, 1);
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.links__link,
.links__link:visited {
  text-decoration: none;
  color: #24292f;
}

.links__link:hover {
  text-decoration: none;
  color:#008B8B;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #8FBC8F;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 5px;
  margin-left: 0px;
  line-height: 1.4;

  font-size: 14px;

  color: #2f4f4f;
  text-decoration: none;
}

.button-link:hover {
  background-color: #20B2AA;
  color: #fff;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1);
}
